In [1]:
import os
import copy
import pandas as pd

In [2]:
an_folder_path = "../../KEMDy20_v1_1/annotation/"

In [3]:
an_file_paths = [an_folder_path+i for i in os.listdir(an_folder_path)]

In [4]:
seg_eval_df_list = []
for an_file_path in an_file_paths:
    file = pd.read_csv(an_file_path)
    seg_eval = file.iloc[1:].filter(regex="^(Segment|Eval)")
    seg_eval_df_list.append(seg_eval)

In [5]:
seg_eval_df = pd.concat(seg_eval_df_list)

In [6]:
# 라벨 열(`Eval01F`, `Eval02M`, ...)과 값을 하나의 열로 변환
melted_df = seg_eval_df.melt(id_vars='Segment ID', var_name='Label', value_name='Emotion')

# 각 Segment ID별 라벨 발생 횟수 계산
em_count_df = melted_df.groupby(['Segment ID', 'Emotion'])['Emotion'].count().reset_index(name='Count')

In [7]:
# pivot_table 함수를 사용하여 각 Segment ID당 happy와 neutral 라벨이 발생한 횟수 계산
label_df = pd.pivot_table(em_count_df, index='Segment ID', columns='Emotion', values='Count', aggfunc=sum, fill_value=0).reset_index()

In [8]:
#Annotation을 저장할 폴더 생성 
folder_name = "../../KEMDy20_v1_1/labels/"
if not os.path.exists(folder_name): 
    os.makedirs(folder_name)

In [9]:
prob_label_df = copy.copy(label_df)
prob_label_df.iloc[:,1:] /= 10
prob_label_df.to_csv(folder_name+"Annotation_prob.csv", index=False)

In [10]:
multi_label_df = copy.copy(label_df)
multi_label_df.iloc[:,1:] = (multi_label_df.iloc[:,1:] > 0).astype(int)
multi_label_df.to_csv(folder_name+"Annotation_multi.csv", index=False)

In [12]:
label_df

Emotion,Segment ID,angry,disgust,fear,happy,neutral,sad,surprise
0,Sess01_script01_User001F_001,0,0,0,4,6,0,0
1,Sess01_script01_User001F_002,0,0,0,0,10,0,0
2,Sess01_script01_User001F_003,0,0,0,0,10,0,0
3,Sess01_script01_User001F_004,0,0,0,7,3,0,0
4,Sess01_script01_User001F_005,0,0,0,4,6,0,0
...,...,...,...,...,...,...,...,...
13457,Sess40_script06_User080F_021,0,0,0,0,10,0,0
13458,Sess40_script06_User080F_022,0,0,0,0,8,0,2
13459,Sess40_script06_User080F_023,0,0,0,0,10,0,0
13460,Sess40_script06_User080F_024,0,0,3,0,6,1,0
13461,Sess40_script06_User080F_025,0,0,1,0,9,0,0

In [13]:
prob_label_df

Emotion,Segment ID,angry,disgust,fear,happy,neutral,sad,surprise
0,Sess01_script01_User001F_001,0.0,0.0,0.0,0.4,0.6,0.0,0.0
1,Sess01_script01_User001F_002,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Sess01_script01_User001F_003,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Sess01_script01_User001F_004,0.0,0.0,0.0,0.7,0.3,0.0,0.0
4,Sess01_script01_User001F_005,0.0,0.0,0.0,0.4,0.6,0.0,0.0
...,...,...,...,...,...,...,...,...
13457,Sess40_script06_User080F_021,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13458,Sess40_script06_User080F_022,0.0,0.0,0.0,0.0,0.8,0.0,0.2
13459,Sess40_script06_User080F_023,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13460,Sess40_script06_User080F_024,0.0,0.0,0.3,0.0,0.6,0.1,0.0
13461,Sess40_script06_User080F_025,0.0,0.0,0.1,0.0,0.9,0.0,0.0

In [14]:
multi_label_df

Emotion,Segment ID,angry,disgust,fear,happy,neutral,sad,surprise
0,Sess01_script01_User001F_001,0,0,0,1,1,0,0
1,Sess01_script01_User001F_002,0,0,0,0,1,0,0
2,Sess01_script01_User001F_003,0,0,0,0,1,0,0
3,Sess01_script01_User001F_004,0,0,0,1,1,0,0
4,Sess01_script01_User001F_005,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...
13457,Sess40_script06_User080F_021,0,0,0,0,1,0,0
13458,Sess40_script06_User080F_022,0,0,0,0,1,0,1
13459,Sess40_script06_User080F_023,0,0,0,0,1,0,0
13460,Sess40_script06_User080F_024,0,0,1,0,1,1,0
13461,Sess40_script06_User080F_025,0,0,1,0,1,0,0