In [2]:
import os
import pandas as pd
import numpy as np

In [8]:
EMODB_path = "../../TIM-Net_SER/Code/MFCC/"

In [10]:
data = np.load(EMODB_path + "EMODB.npy",allow_pickle=True).item()
x_source = data["x"]
y_source = data["y"]

In [15]:
print(np.shape(x_source))
print(np.shape(y_source))

(535, 188, 39)
(535, 7)

In [20]:
pd.DataFrame(y_source).sum()

0    127.0
1     81.0
2     46.0
3     69.0
4     71.0
5     79.0
6     62.0
dtype: float32

In [21]:
data2 = np.load(EMODB_path + "KEMD.npz")
x_source2 = data2["x"]
y_source2 = data2["y"]

In [22]:
print(np.shape(x_source2))
print(np.shape(y_source2))

(13462, 196, 32)
(13462, 7)

In [24]:
pd.DataFrame(y_source2).sum()

0       0
1       0
2       0
3      37
4    2741
5       3
6       2
dtype: int64

In [26]:
np.shape(y_source2)

(13462, 7)

In [6]:
data3 = np.load("../../KEMDy20_v1_1/mfcc_npz/Prob_32_100000.npz")
x_source3 = data3["x"]
y_source3 = data3["y"]

In [7]:
print(np.shape(x_source3))
print(np.shape(y_source3))

(13462, 196, 32)
(13462, 7)

In [8]:
pd.DataFrame(y_source3).sum()

0     420.7
1     372.6
2     122.0
3    1730.9
4    9797.3
5     519.3
6     499.2
dtype: float64